@import 'mixins';

html, body {
	font-size: 16px;
	font-weight: 100;
    font-family: Avenir;
	@include whole-fill;
	user-select: none;
}

#app {
	@include whole-fill;
}

.homenav__item {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 50%;
}

.homenav__item--background-green {
	background: url(../img/background_green.png) center center no-repeat #4D9925;
    background-size: cover;
}

.homenav__item--background-yellow {
	background: url(../img/background_yellow.png) center center no-repeat #E0E163;
    background-size: cover;
}

.button {
    border-radius: 2em;
    background: #fff;
    padding: 1.2em 2.7778em;
    border: none;
    outline: none;
    box-shadow: none;
    color: #555;
    font-size: 1.125rem;
    font-weight: 100;
    font-family: Avenir;
    white-space: nowrap;
}

.navlink {
	display: inline-block;
	width: 60%;
	.button {
		@include whole-fill;
	}
}

.page {
	background-color: #fff;
	@include whole-fill;
}

.exam {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
    .stop__test__link {
        position: relative;
        top: 2rem;
    }
}

.paper {
	box-shadow: 0 0 1.5rem #ddd;
	padding: 1.5rem;
	background-color: #F4F9F0;
    width: 15rem;
    height: 15rem;
}

.exam__intro {
	position: relative;
	top: -3rem;
    text-align: center;
}

.exam__result {
    @extend .exam__intro;
    font-size: 2rem;
}

.exam__result--correct {
    color: #6DE517;
}

.exam__result--incorrect {
    color: #DE0702;
}

.exam__center {
	text-align: center;
    .alphabet__box {
        @include whole-fill;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .alphabet--testing {
        font-size: 8rem;
        font-family: serif;
    }
}

.result__center {
    text-align: center;
    .result__box {
        @include whole-fill;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        .result__row {
            width: 100%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
            align-items: baseline;
            .alphabet--result {
                .alphabet {
                    font-size: 3rem;
                    font-weight: 500;
                }
                .alphabet__class {
                    font-size: 1rem;
                }
            }
        }
    }
}

.record__button {
	text-align: center;
	display: inline-block;
	outline: none;
	border-radius: 50%;
	color: #fff;
	width: 1em;
	height: 1em;
	font-size: 6rem;
    box-shadow: 0 0 1rem #ddd;
    .fa {
        position: relative;
        top: 5px;
    }
}

.link {
	text-decoration: none;
	color: #000;
}

.result__content__container {
    text-align: center;
    .operation__button__wrapper {
        padding-top: 3rem;
    }
}

.exam__content__container {
    .operation__button__wrapper {
        position: relative;
        top: -3rem;
    }
}

.button--green {
    border: none;
    background-color: #73B936;
    color: #fff;
}

$page-header-height: 5rem;
.learn {
    overflow: hidden;
    .page__header {
        font-size: 1.3em;
        width: 100%;
        height: $page-header-height;
        background-color: #ddd;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: stretch;
        .page__nav {
            position: relative;
            .link {
                position: absolute;
                left: 10px;
            }
            .page__name {
                text-align: center;
            }
        } 
    }
    .page__body {
        overflow: auto;
        height: calc(100% - #{$page-header-height});
    }
}

.alphabet__table__row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
}
.alphabet__table__cell {
    border-bottom: 0.1em solid rgba(136, 136, 136, 0.7);
    border-right: 0.1em solid rgba(136, 136, 136, 0.7);
    box-sizing: border-box;
    .character__wrapper {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 0.6em 0.4em; 
    }    
    &.alphabet__table__cell--filled:active {
        .character__wrapper {
            transform: scale(0.95, 0.95);
        }
        box-shadow: inset 0px 0px 3px 2px rgba(136, 136, 136, 0.6);
    }
    .character__hiragana {
        font-size: 1.75em;
        margin-bottom: 10%;
    }
    .character__associate {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
    }
}