@import 'mixins';

html, body {
	font-size: 16px;
	font-weight: normal;
	@include whole-fill;
}

#app {
	@include whole-fill;
}

.homenav__item {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 50%;
}

.homenav__item--background-green {
	background-color: #00ff00;
}

.homenav__item--background-yellow {
	background-color: #FFFF00;
}

.button {
	border-radius: 1.5em;
	background: #fff;
	padding: 1em;
	border: none;
	outline: none;
	box-shadow: none;
	color: #555;
	font-size: 1.5rem;
}

.navlink {
	display: inline-block;
	width: 50%;
	.button {
		@include whole-fill;
	}
}

.page {
	background-color: #fff;
	@include whole-fill;
}

.exam {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

.paper{
	font-size: 8rem;
	box-shadow: 0 0 1.5rem #ddd;
	padding: 1.5rem;
	background-color: #F4F9F0;
	font-weight: 900;
}

.intro {
	position: relative;
	top: -3rem;
}

.exam__center {
	text-align: center;
}

.record__button {
	text-align: center;
	display: inline-block;
	border: none;
	outline: none;
	border-radius: 50%;
	color: #fff;
	width: 3rem;
	height: 3rem;
	font-size: 3rem;
	padding: 1rem;
	position: relative;
	top: -1rem;
}

.record__button--pending {
	background-color: #75C12F;
}

.record__button--recording {
	background-color: #75C12F;
	border: 3px solid #D37A51;
}

.record__button--recognizing {
	background-color: #B5B5B5;
}