@import 'mixins';

html, body {
	margin: 0;
	@include whole-fill;
}

#app {
	@include whole-fill;
}

.mainContainer {
	@include whole-fill;
}

.homenav {
	@include whole-fill;
}

.homenav__item {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	height: 50%;
}

.homenav__item--background-green {
	background-color: #00ff00;
}

.homenav__item--background-yellow {
	background-color: #FFFF00;
}

.button {
	border-radius: 10%;
	background: #fff;
	padding: 10%;
	border: none;
	box-shadow: none;
	color: #000;
}